<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global-style.css">
    <link rel="stylesheet" href="/css/add-car.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Mitr:wght@600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <title>Endereço do Proprietário</title>
</head>

<body>
    <header id="header-sup">
        <h1 id="title-add-car">Endereço do Proprietário</h1>
    </header>
    <form action method="post" <label for="nome">Logadouro</label>
        <input type="text" id="logadouro" th:field="*{logadouro}" placeholder="Rua das Laranjas" required>
        <label for="nome">Cidade</label>
        <input type="text" id="cidade" th:field="*{cidade}" placeholder="Cascavel" required>
        <label for="nome">CEP</label>
        <input type="text" id="cep" th:field="*{cep}" placeholder="00000-000" required>
        <label for="nome">Número</label>
        <input type="number" id="numero" th:field="*{numero}" placeholder="99" required>
        <label for="select-cor">Cor</label>
        <select name="estado" id="select-estado" required>
            <option value="" disabled selected hidden>Selecione o Estado</option>
            <option th:each="cor : ${corCarro}" th:value="${cor}" th:text="${cor}"></option>
        </select>
        <select name="pais" id="select-pais" required>
            <option value="" disabled selected hidden>Selecione o País</option>
            <option th:each="cor : ${corCarro}" th:value="${cor}" th:text="${cor}"></option>
        </select>
    </form>
</body>

</html>